<div style="background-color: #343a40; color: #fff; padding: 10px; text-align: center;">
    <h1>CLASER</h1>
    <h1>Bienvenido @ViewBag.NombreUsuario</h1>
</div>


<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Login</h2>
    <p>Ingresa a tu cuenta</p>
    <form asp-action="Logout" asp-controller="Login" method="post" style="margin-top: 20px;">
        <button type="submit" class="btn btn-danger" style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">Ingresar</button>
    </form>

</div>

<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Crear Ticket</h2>
    <p>Crea un nuevo ticket de soporte</p>
    <a class="btn btn-dark" style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Index" asp-controller="Tickets">Crear</a>
</div>



<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Seguimiento y Asignacion de tareas</h2>
    <p>Haz un seguimiento de las tareas y asignalas</p>
    <a style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Gestion" asp-controller="Tickets">Ver</a>

</div>

<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Historial</h2>
    <p>Revisa el historial de tickets</p>
    <a style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Historial" asp-controller="Tickets">Ver</a>

</div>

<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Informes y Dashboard</h2>
    <p>Mira informes personalizados y generales</p>
    <a style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Index" asp-controller="Analisis">Ver</a>

</div>

<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Crear un Usuario</h2>
    <p>Crea un usuario</p>   
    <a style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Registrous" asp-controller="Registros">Crear</a>

</div>

<div style="background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; padding: 20px; text-align: center;">
    <h2>Crear un Empleado</h2>
    <p>Añade un nuevo empleado</p>
    <a style="padding: 5px 10px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;" asp-action="Registroem" asp-controller="Registros">Crear</a>

</div>
