@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Iconos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body style="justify-content: center; align-items: center; flex-wrap: wrap; margin: 0; padding: 0; background-color: #f0f0f0; margin-bottom:90px; " >
    <h1><bold><center>SERVICIOS DE LA EMPRRESA</center></bold> </h1>

    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 0; padding: 0; background-color: #f0f0f0; margin-top:50px;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-tablet" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Servicio de Telefonía</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-telephone-outbound-fill" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Llamadas Ilimitadas</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-server" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Servidor de Internet</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-steam" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Internet ilimitado</p>
        </div>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 0; padding: 0; background-color: #f0f0f0;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-whatsapp" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Whatsapp Gratis</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-wifi" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">WIFI Recidencial</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-telegram" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Telegram de Desvelo</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-line" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Line ilimitado</p>
        </div>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 0; padding: 0; background-color: #f0f0f0;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-meta" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Todo meta a tu alcance</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-alexa" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Llamadas Ilimitadas</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-tv" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Servicio de Cable</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px; border: 2px solid #ccc; border-radius: 10px; overflow: hidden; width: 175px; height: 175px; background-color: white;">
            <i class="bi bi-xbox" style="font-size: 48px; margin-bottom: 10px;"></i>
            <p style="text-align: center;">Xbox ilimitado</p>
        </div>
    </div>
   
</body>
</html>