@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Servicios de Telefonía Móvil</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; margin: 20px;  margin-bottom:100px;">
    <h1 style="text-align: center; margin-top:50px; margin-bottom:30px;">Política de Servicios de Telefonía Móvil</h1>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">1. Planes y Servicios</h2>
    <p>En [Nombre de la Empresa], nos esforzamos por ofrecer una amplia gama de servicios de telefonía móvil que se adapten a las necesidades individuales de nuestros clientes. Nuestros planes pueden incluir minutos de llamadas, mensajes de texto y datos móviles, así como servicios adicionales como roaming internacional y acceso a contenido premium.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">2. Cobertura y Calidad del Servicio</h2>
    <p>Nos comprometemos a proporcionar una cobertura confiable y una calidad de servicio excepcional en todas nuestras áreas de operación. Trabajamos continuamente para expandir y mejorar nuestra red para garantizar una experiencia de comunicación sin interrupciones para nuestros clientes.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">3. Política de Privacidad</h2>
    <p>Respetamos la privacidad de nuestros clientes y nos comprometemos a proteger la confidencialidad de su información personal. Nuestra política de privacidad detalla cómo recopilamos, utilizamos y protegemos la información del cliente, y cumplimos con todas las leyes y regulaciones de protección de datos aplicables.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">4. Facturación y Pagos</h2>
    <p>Nuestros clientes pueden acceder fácilmente a su factura mensual a través de nuestro portal en línea o de nuestra aplicación móvil. Ofrecemos una variedad de opciones de pago conveniente, incluyendo pagos en línea, pagos automáticos y pago en puntos de venta autorizados.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">5. Soporte al Cliente</h2>
    <p>Nuestro equipo de atención al cliente está disponible para ayudar a nuestros clientes con cualquier pregunta, problema o inquietud que puedan tener. Ya sea que necesiten ayuda con la configuración de su dispositivo, asistencia técnica o información sobre sus planes y servicios, estamos aquí para ayudar.</p>

    <h2 style="text-align: center; margin-top:30px;  margin-bottom:30px;">6. Política de Devoluciones y Reembolsos</h2>
    <p>Entendemos que las necesidades de nuestros clientes pueden cambiar, por lo que ofrecemos una política de devoluciones y reembolsos flexible. Los clientes pueden cancelar o cambiar su plan en cualquier momento, sujeto a los términos y condiciones específicos de su contrato.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">7. Uso Aceptable</h2>
    <p>Nos comprometemos a proporcionar un servicio de calidad a todos nuestros clientes y esperamos que utilicen nuestros servicios de manera responsable y ética. Nuestra política de uso aceptable establece pautas claras sobre el uso apropiado de nuestros servicios y los comportamientos que no son permitidos.</p>

    <h2 style="text-align: center; margin-top:30px; margin-bottom:30px;">8. Política de Igualdad de Oportunidades</h2>
    <p>En CLASER, valoramos la diversidad y la inclusión en todos los aspectos de nuestro negocio. Nos comprometemos a brindar igualdad de oportunidades a todos nuestros empleados y clientes, independientemente de su raza, género, orientación sexual, religión, discapacidad o cualquier otra característica protegida por la ley.</p>
</body>
</html>

